@import url(https://fonts.bunny.net/css?family=major-mono-display:400|space-mono:400,400i,700,700i&display=swap);

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: "Space Mono", monospace;
  }

  a:not(:has(*)) {
    @apply font-bold underline;
  }

  img {
    display: none;
  }

  img[src] {
    display: block;
  }
}

#navbar-list a {
  @apply font-normal no-underline;
}

#navbar-list a[aria-current="page"] {
  @apply text-red;
}

#navbar-list a[aria-current="page"] div {
  @apply bg-red;
}
