@import url(https://fonts.bunny.net/css?family=major-mono-display:400|space-mono:400,400i,700,700i);

.center {
	display: grid;
	place-items: center;
}

.verticalCenter {
	display: flex;
	align-items: center;
}

.horizontalCenter {
	display: flex;
	justify-content: center;
}

.pageSize {
	height: 100%;
	width: 100%;
}

html,
body {
	font-family: "Space Mono", monospace;
	height: 100%;
	margin: 0;
	width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
	text-align: center;
}

h1 {
	font-family: "Major Mono Display", monospace;
	font-size: 10em;
	margin-bottom: 2.5vh;
}

h2 {
	font-size: 2.5em;
}

#navbar {
	background-color: rgb(32, 32, 32);
	list-style-type: none;
	margin: 0;
	overflow: hidden;
	padding: 0;
	position: fixed;
	width: 100%;
}

#navbar #homeButton {
	margin: 0 1vw;
}

#navbar a {
	color: rgb(255, 255, 255);
	display: block;
	font-family: "Major Mono Display", monospace;
	font-size: 1.5vw;
	margin: 1vw;
	text-decoration: none;
}

#navbar div {
	background-color: rgb(255, 255, 255);
	border-radius: 100%;
	height: 2vw;
	width: 2vw;
}

#navbar img {
	height: 75%;
	width: 75%;
}

#navbar li:has(a[aria-current='page']) {
	background-color: rgb(64, 64, 64);
}

#portfolio h3 {
	font-size: 1.5em;
}

#about h3,
h4,
h5,
h6 {
	text-align: left;
}

#about h3 {
	font-size: 5em;
}

#about h4 {
	font-size: 2em;
}

body:has(> #menu) {
	overflow: hidden;
}

#menu #background {
	top: -10%;
	object-fit: cover;
	scale: 1.2;
	height: 100%;
	width: 100%;
	opacity: 0.2;
	position: fixed;
	transition:
		opacity 800ms ease,
		scale 800ms ease,
		top 800ms ease;
	z-index: 0;
}

#menu #pattern {
	background-image: radial-gradient(rgba(0, 0, 0, 0.1) 9%,
			transparent 9%);
	background-position: 0% 0%;
	background-size: 12vmin 12vmin;
	height: 100vh;
	left: 0px;
	position: absolute;
	top: 0px;
	transition:
		opacity 800ms ease,
		background-size 800ms ease,
		background-position 800ms ease;
	width: 100vw;
	z-index: 1;
}

#menu #items {
	margin: 5vw;
	z-index: 2;
}

#menu #items a {
	color: rgb(0, 0, 0);
	display: block;
	font-size: 5em;
	text-decoration: none;
	transition: opacity 400ms ease;
}

#menu #items:hover~#pattern {
	background-size: 11vmin 11vmin;
	opacity: 0.5;
}

#menu #items:hover~#background {
	scale: 1.1;
	opacity: 0.1;
}

#menu #items:hover>a {
	opacity: 0.3;
}

#menu #items:hover>a:hover {
	opacity: 1;
}
